[package]
name = "papyrus_storage"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true
description = "A storage implementation for a Starknet node."

[features]
testing = [
    "tempfile",
]

[dependencies]
byteorder.workspace = true
cairo-lang-starknet.workspace = true
cairo-lang-casm.workspace = true
cairo-lang-utils.workspace = true
flate2.workspace = true
futures-util.workspace = true
indexmap = { workspace = true, features = ["serde"] }
integer-encoding.workspace = true
libmdbx = { workspace = true, features = ["lifetimed-bytes"] }
num-bigint.workspace = true
primitive-types.workspace = true
papyrus_config = { git = "https://github.com/starkware-libs/papyrus", rev = "71742c0"  }
parity-scale-codec.workspace = true
reqwest = { workspace = true, features = ["json", "blocking"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["arbitrary_precision"] }
starknet_api.workspace = true
tempfile = { workspace = true, optional = true }
thiserror.workspace = true
tokio = { workspace = true, features = ["full", "sync"] }
tracing = { workspace = true, features = ["log"] }
url.workspace = true

[dev-dependencies]
assert_matches.workspace = true
camelpaste.workspace = true
insta = { workspace = true, features = ["yaml"] }
num-traits.workspace = true
paste.workspace = true
pretty_assertions.workspace = true
rand.workspace = true
rand_chacha.workspace = true
schemars = {workspace = true, features = ["preserve_order"] }
tempfile = { workspace = true}
test_utils = { path = "../test_utils"}

[patch.crates-io]
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "a481d59" }

