# Default values for a papyrus deployment.

# Values that configure running a papyrus deployment on Kubernetes.
# An HTTP RPC endpoint of the Ethereum entry-point (A local Ethereum client, Infura, etc.).
ethereumApiUrl:
# The verbosity level of logs ("debug", "info", "error", etc.)
rustLogLevel:

# The Docker image (including any tag and repository name)
image:
  repository: ghcr.io/starkware-libs/papyrus
  tag: dev
  pullPolicy: Always

# The default resources for the pod.
# resources:
#   limits:
#     cpu: 100m
#     memory: 500Mi
#   requests:
#     cpu: 100m
#     memory: 500Mi

# Service variables for a papyrus pod.
services:
  # RPC API.
  rpc:
    type: ClusterIP
    port: 8080
    protocol: TCP
  # Monitoring API.
  monitoring:
    type: ClusterIP
    port: 8081
    protocol: TCP

# Persistent volume claim variables for a papyrus pod.
pvc:
  # Recommended size is at least 512Gi.
  size:
  # Is is recommended to use an SSD volume (such as GKE premium-rwo).
  storageClass: ""
  # Use an existing snapshot for the node's data. The kubernetes volumesnapshot object should
  # exist in the same namespace as the rest of the resources.
  restoreFromSnapshot:
    enabled: false
    snapshotName: my-snapshot

# Configure Ingress.
ingress:
  # Should an ingress object be created
  enabled: false
  # Ingress class type.
  type:
  # Ingress object name in Kubernetes.
  name:
  # Host name to create Ingress rules.
  host:
  # Ingress path type.
  pathType:
  # Annotations to apply to the node ingress.
  annotations:
