# Default values for a papyrus deployment.

# The verbosity level of logs ("debug", "info", "error", etc.)
rustLogLevel: "info"

node:
  # Number of concurrent requests to the SN feeder gateway
  concurrentFgRequests: 50

# Ethereum node URL. A value for this variable is mandatory.
base_layer_node_url:

starknet:
  # possible values: "mainnet.json", "goerli_testnet.json", "goerli_integration.json",
  # "sepolia_testnet" and "sepolia_integration".
  preset: mainnet.json
  additionalHeaders: # optional addtional headers for SN communication

deployment:
  # The container image
  image:
    repository: ghcr.io/starkware-libs/papyrus
    tag: 0.2.0
  # The container's pullPolicy
  pullPolicy: Always
  # Optional - nodeSelector
  nodeSelector:
  # Optional - tolerations
  tolerations:
  # The default resources for a pod.
  resources:
    limits:
      cpu: "1"
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 1Gi

# Service variables for a papyrus pod.
services:
  # RPC API.
  rpc:
    type: ClusterIP
    port: 8080
    protocol: TCP
  # Monitoring API.
  monitoring:
    type: ClusterIP
    port: 8081
    protocol: TCP
  # P2P sync endpoint
  peer:
    type: ClusterIP
    port: 8082
    protocol: TCP

# Persistent volume claim variables for a papyrus pod.
pvc:
  # Recommended size is at least 512Gi.
  size:
  # Is is recommended to use an SSD volume (such as GKE premium-rwo).
  storageClass: ""
  # Use an existing snapshot for the node's data. The kubernetes volumesnapshot object should
  # exist in the same namespace as the rest of the resources.
  restoreFromSnapshot:
    enabled: false
    snapshotName: my-snapshot

# Configure Ingress.
ingress:
  # Should an ingress object be created
  enabled: false
  # Ingress class type.
  type:
  # Ingress object name in Kubernetes.
  name:
  # Host name to create Ingress rules.
  host:
  # Ingress path type.
  pathType:
  # Annotations to apply to the node ingress.
  annotations:

# GrafanaDashboad CRD configuration
# This is relevant for Grafana Operator users https://grafana.github.io/grafana-operator/docs/
grafanadashboard:
  # Should the GrafanaDashboard object be installed
  enabled: false

# Backup mode
backup:
  enabled: false
  sleepInterval: 6h
  compress: false
  aws:
    s3BucketName: my-backup-bucket-name
    s3BucketRegion: my-backup-bucket-region
    accessKeyId: my aws_access_key_id
    secretAccessKey: my aws_secret_access_key
