apiVersion: batch/v1
kind: Job
metadata:
  name: papyrus-BUILD_ID-load-test
  namespace: papyrus
spec:
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: papyrus-load-test
          image: ghcr.io/starkware-libs/papyrus:dev
          imagePullPolicy: Always
          command:
            #- /app/target/release/papyrus_load_test
            #- --host
            #- http://papyrus-BUILD_ID-rpc.papyrus.svc.cluster.local:8080
            #- --run-time
            #- DURRATION
            - sh
            - -c
            - "sleep DURRATION && echo BUILD_ID-done."
      restartPolicy: Never
  backoffLimit: 0
