apiVersion: batch/v1

kind: Job

metadata:
  name: papyrus-XXX-load-test

spec:
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: papyrus-load-test
          image: ghcr.io/starkware-libs/papyrus:dev
          imagePullPolicy: Always
          command:
            - "/app/target/release/papyrus_load_test"
          env:
            - name: NODE_ENDPOINT
              # value: "https://papyrus.starkware.co"
              value: "http://papyrus-XXX-rpc.papyrus.svc.cluster.local:8080"
      imagePullSecrets:
        - name: regcred
      restartPolicy: Never
  backoffLimit: 0
