[package]
name = "papyrus_network"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true

[dependencies]
async-stream.workspace = true
bytes.workspace = true
clap = { workspace = true, features = ["derive"] }
defaultmap.workspace = true
derive_more.workspace = true
futures.workspace = true
libp2p = { workspace = true, features = [
    "noise",
    "quic",
    "tcp",
    "tokio",
    "yamux",
] }
replace_with.workspace = true
papyrus_config = { path = "../papyrus_config", version = "0.3.0-dev.1" }
papyrus_storage = { path = "../papyrus_storage", version = "0.3.0-dev.1" }
prost.workspace = true
prost-types.workspace = true
serde = { workspace = true, features = ["derive"] }
starknet_api.workspace = true
starknet-types-core.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full", "sync"] }
tracing.workspace = true
unsigned-varint = { workspace = true, features = ["std"] }

[build-dependencies]
prost-build.workspace = true

[dev-dependencies]
assert_matches.workspace = true
libp2p-swarm-test.workspace = true
mockall.workspace = true
papyrus_storage = { path = "../papyrus_storage", features = ["testing"] }
pretty_assertions.workspace = true
rand.workspace = true
tokio-stream.workspace = true
