{{- if .Values.grafanaAlerts.enabled }}
apiVersion: integreatly.org/v1alpha1
kind: GrafanaDashboard
metadata:
  name: {{ template "papyrus.name" . }}-alerts
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: grafana-dashboard
spec:
  json: |
    {{- (.Files.Get "Monitoring/grafana_alerts.json") | nindent 4 }}
{{- end }}
