Config(
    storage: StorageConfig(
        db_config: DbConfig(
            path: "./data",
            max_size: 1099511627776, // 1TB.
        ),
    ),
    central: CentralSourceConfig(
        url: "https://alpha4.starknet.io/",
    ),
)