Config(
    chain_id: "SN_GOERLI",
    central: CentralSourceConfig(
        retry_config: RetryConfig(
            retry_base_millis: 30,
            retry_max_delay_millis: 30000,
            max_retries: 10,
        ),
    ),
    gateway: GatewayConfig(
        server_ip: "localhost:8080",
    ),
    monitoring_gateway: MonitoringGatewayConfig(
        server_ip: "localhost:8081",
    ),
    storage: StorageConfig(
        db_config: DbConfig(
            path: "./data",
            max_size: 1099511627776, // 1TB.
        ),
    ),
    sync: SyncConfig(
        block_propagation_sleep_duration: (
            secs:10,
            nanos: 0,
        ),
    ),
)
