name: nightly-tests-call

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string

jobs:
  GW-integration-test-call:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
        # Workflow steps exit upon failure of a subcommand (running `set -e` implicitly before the
        # run. As we want to keep running this step after a test failure we can either start with
        # `set +e` to suppress all errors, or, as done below, append `|| retVal=$?` to the command
        # which makes it successful while storing the potential erroneous code.
      - run: >
          sudo apt update; sudo apt -y install libclang-dev;
          INTEGRATION_TESTNET_NODE_URL=${{ secrets.INTEGRATION_TESTNET_NODE_URL }}
          SENDER_PRIVATE_KEY=${{ secrets.INTEGRATION_TESTNET_SENDER_PRIVATE_KEY }}
          cargo test --test gateway_integration_test -p papyrus_rpc test_gw_integration_testnet
          -- --ignored || retVal=$?;
          if [ $retVal -ne 0 ]; then
              echo "Integration test failed with exit code $retVal";
          fi;
          exit $retVal
